# OS
.DS_Store
Thumbs.db

# Flutter/Dart
.dart_tool/
.packages
build/
**/build/
.flutter-plugins
.flutter-plugins-dependencies

# Node/TS
node_modules/
dist/
.env
.dev.vars

# IDE
.vscode/
.idea/
*.iml
